<center>
<div class="user-trips">
<%= render 'layouts/header' %>

<p id="notice"><%= notice %></p>

<p>
  <h1><%= @user.name %></h1>
</p>

<h2>My Trips</h2>
<div class="new-entry-link">
<%#= render "layouts/new" %>
<%= render "layouts/new" %>
</div>

<% if @user.trips.length == 0 %>
<h2>You haven't planned any trips yet.</h2>
<!-- <h2> --><%#= link_to 'Plan First Trip', new_trip_path %> <!-- </h2> -->
    <h2>  <%#= render "layouts/new" %> </h2>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<% else %>

<%#= link_to 'Back', users_path %>


<div class="calc-body">
<% @user.trips.reverse.each do |trip| %>

<form id='accordion'>

<ul>
 <%#= best_in_place @user, :name %>

   <li><a><span><%= trip.trip_name  %></span></a>
      <ul>
       <li>

       <p>
       <li><%#= render "layouts/edit" %></li>
  <h2>
  <%= trip.trip_name %>
</h2>

<p>
  <strong>Location:</strong>
  <%#= trip.location %><%= best_in_place trip, :location %>
</p>



<p>
  <strong>To pack:</strong>
  <%= best_in_place trip, :to_pack %>
</p>

<p>
  <strong>To do:</strong>
  <%= best_in_place trip, :to_do %>
</p>

<p>
  <strong>Budget:</strong>
  <%= best_in_place trip, :budget %>
</p>

<div class="pink-link">

<%= link_to 'Delete Trip', trip_path(trip), method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>

      </ul>
    </li>

   </ul>


   <% end %>
   </form>
   </div>
  <!--  <h2> --><%#= link_to 'New Trip', new_trip_path %> <!-- </h2> -->
    <h2>  <%#= render "layouts/new" %> </h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <% end %>
  




   </div>
</center>
