<!DOCTYPE html>
<html>
<head>
  <title>Travel Journal</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "application"%>
  <link href='https://fonts.googleapis.com/css?family=Lobster+Two:500,900,200' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="keywords" content="Koren Leslie Cohen, Christina Leuci, travel journal, online travel journal, travel budget calculator, travel application, The Flatiron School"/>
  <meta name="description" content="description">
  <title>Title</title>
</head>
<body>

<%= yield %>

</body>
</html>